* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: #f3f3f3;
}

#header-nav {
  display: flex;
  justify-content: space-around;

  height: 70px;
}

#header-nav li {
  list-style: none;
  height: 100%;
}

#header-nav li p {
  padding-top: 20px;
  font-family: "HG丸ｺﾞｼｯｸM-PRO";
}

#header-nav li p a {
  color: black;
  text-decoration: none;
}

#header-nav img {
  height: 40px;
  padding-top: 10px;
  padding-left: 200px;
}

#top {
  text-align: center;
  padding: 30px;

  font-family: "Gabriola";

  background-color: #90ecd9;
}

#top img {
  height: 300px;
}

#top-name {
  font-size: 50px;
  padding: 10px;
}

#class-name {
  font-size: 30px;
  padding: 10px;
}

#about-site {
  text-align: center;

  padding: 100px;
}

#about-back {
  background-image: url(../../public/img/about-back.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

}

#title1,
#title2,
#title3 {
  text-align: center;

  font-size: 50px;
  font-family: "Gabriola";

  padding-bottom: 50px;
}

#info1,
#info2,
#info3,
#info4,
#info5 {
  font-size: 20px;
  font-family: "Gungsuh";
}

#myprofile {
  padding: 100px;

  text-align: center;

  background-color: #fafafa;
}

#flex {
  display: flex;
  justify-content: space-around;
}

#myimage {
  height: 100px;
}

#work-back {
  background-image: url(../../public/img/about-back.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#mywork {
  padding: 100px;
}

#work {
  display: flex;
  justify-content: space-around;
}

#item img {
  height: 100px;
}

#worktext1,
#worktext2,
#worktext3 {
  padding-top: 10px;
}

footer {
  padding: 40px;

  text-align: center;

  color: white;
  background-color: #79c6b6;
}